:root {
  --bs-primary: #066cff;
  --bs-secondary: #78c0f8;
  --bs-font-sans-serif: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
/* Common */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
}

header > nav {
  min-height: 78px;
}

.logo {
  width: 68px;
}

header + main {
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 78px; /* nav height */
}

footer {
  margin-top: auto;
  background-color: var(--bs-light);
  padding: 1rem 0;
  font-size: 0.8rem;
}

/* Home */

.home .heading {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  background: url(../img/recortehead.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
}

.home .heading .heading-text {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 1rem;
  text-shadow: 0 0 2px #000;
}

.home .services {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  padding-left: 0;
  list-style: none;
}

.home .phrase {
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}

.home .client {
  text-align: center;
}

@media (min-width: 768px) {
  .home .heading {
    min-height: 540px;
  }

  .home .heading .heading-text {
    margin: 3rem;
    font-size: 48px;
  }

  .home .heading .heading-img {
    height: 680px;
  }

  .home-phrase {
    font-size: 48px;
  }
}

/* Music */

.album {
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 0.5rem;
  text-align: center;
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-light);
  border: 2px solid transparent;
}

.album:hover {
  border: 2px solid var(--bs-primary);
}

.album .album-title {
  font-size: 16px;
  margin: 0.5rem 0;
}

.album .album-title a {
  text-decoration: none;
}

.album .album-description {
  font-size: 12px;
  text-align: left;
  padding: 0 0.5rem;
}

.album .album-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--bs-primary);
}

/* About */

.about h1 {
  text-align: center;
}

.about .introduction,
.about .phrase {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 200;
  font-style: italic;
}

/* TV & Film */

.tv-and-film {
  text-align: center;
}

/* Contact */

.contact {
  display: flex;
  align-items: center;
}
.contact form {
  width: 100%;
}

.contact form [type='submit']{
  width: 100%;
}

.contact .contact-map {
  width: 100%;
  min-height: 100%;
  margin-top: 2rem;
}


@media (min-width: 768px) {
  .contact .contact-map {
    margin-top: 0rem;
  }
}